<a href="https://colab.research.google.com/github/aknip/Streamlit-Gradio/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Tutorial:
- https://www.python-kurs.eu/pandas.php

Weitere Links:
- https://pbpython.com/dataframe-gui-overview.html
- https://www.datacamp.com/tutorial/how-to-use-sql-in-pandas-using-pandasql-queries
- https://www.geeksforgeeks.org/how-to-combine-two-dataframe-in-python-pandas/

In [9]:
import pandas as pd
fruits = ['apples', 'oranges', 'cherries', 'pears']
S = pd.Series([20, 33, 52, 10], index=fruits)
S2 = pd.Series([17, 13, 31, 32], index=fruits)
print(S + S2)
print("Summe aus S: ", sum(S))

apples      37
oranges     46
cherries    83
pears       42
dtype: int64
Summe aus S:  115

In [10]:
print(S[['apples', 'oranges', 'cherries']])

apples      20
oranges     33
cherries    52
dtype: int64

In [16]:
print(S[S>30])

oranges     33
cherries    52
dtype: int64